:root{
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #ACF50D;
    --secundario: #003E1A;
}
/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box; 
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 16x*/
    font-family: "Kufam", "Montserrat", sans-serif;
}
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
/* Tipografia*/
h1{
    font-size: 3.8rem;     
}
h2{
    font-size: 2.8rem;     
}
h3{
    font-size: 1.8rem;     
}
h1,h2,h3{
    text-align: center;
}
/*Titulo*/
.titulo{
    background-color: var(--primario);
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 2rem;
    position: relative; 
    cursor: pointer;
}
.head-logo {
    position: absolute;
    top: 25%;
    right: 43%;
    
}

/*Hero*/
.hero{
    background-color: var(--secundario);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.contenido-hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.contenido-hero h2{
    text-align: left;
    color: var(--primario);
    font-weight: 600;
    font-size: 5.2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: -42px;
}
.contenido-hero p{
    text-align: left;
    color: var(--blanco);
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 2.1rem;
    margin-bottom: 4rem;
    line-height: 2.8rem;
    
}
.imagen-logo{
    position: relative;
    right: 14%;
    width: 100%;
    max-width: 290px;
    height: auto; 
    margin: 20px;
    border-radius: 20px;
}

/*Footer*/
.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin: 0 auto;
} 
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
.logo{
    position: relative;
    top: 6px; 
}
.logo img {
    width: 170px;
    height: auto;
}
.navegacion{
    display: flex;
    gap: 4rem;
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: var(--blanco);
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 200;
}

/*Main*/
.opciones-canchas{
    background-color: var(--primario); 
    text-align: center;
    padding: 9rem;
    position: relative;
    padding-bottom: 16rem;
}


.opciones-canchas::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background: linear-gradient(
        to bottom,
        var(--primario), 
        var(--primario) 10px,
        var(--secundario) 10px, 
        var(--secundario)12px,
        var(--primario) 12px,
        var(--primario) 22px,
        var(--secundario) 22px, 
        var(--secundario) 26px,
        var(--primario) 26px,
        var(--primario) 38px,
        var(--secundario) 38px, 
        var(--secundario) 44px,
        var(--primario) 44px
    );
}


.opciones-canchas h2{
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 5rem;
}
.card p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 1.4rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    width: 474px;
    height: 330px;
    border-radius: 10px;
    margin-bottom: 2.8rem;
}

.descarga-app {
    background-color: var(--secundario); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem; 
    position: relative;
    gap: 1rem; 
    overflow: hidden;
    min-height: 476px;
}

.celular-izquierdo, .celular-derecho {
    width: 450px; 
    height: auto;
}

.celular-izquierdo {
    transform: rotate(-4deg) translateX(57px) translateY(120px); 
}

.celular-derecho {
    transform: rotate(4deg) translateX(-45px) translateY(120px);
}

.contenido-centro {
    text-align: center;
    color: var(--primario);
}

.contenido-centro h2 {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--primario);
}

.boton-descarga {
    background-color: var(--primario);
    color: var(--negro);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3rem;
    display: inline-block;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    
    .titulo {
        font-size: 1.8rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .head-logo {
        position: absolute;
        top: 29%;
        right: 28%;
        width: 19px;
        height: 19px;
    }

    
    .hero {
        min-height: auto;
        padding: 2rem;
        text-align: center;
    }
    .contenido-hero {
        flex-direction: column;
        text-align: center;
    }
    .contenido-hero h2 {
        font-size: 2.6rem;
        margin-top: 6rem;
    }
    .contenido-hero p {
        font-size: 1.6rem;
        line-height: 2.3rem;
        margin-bottom: 3rem;
    }
    
    .imagen-logo {
        width: 80%;
        max-width: 228px;
        margin-top: 6rem;
        margin-left: 12rem;
        margin-bottom: 6rem;
    }

    
    .opciones-canchas {
        padding: 4rem 2rem;
    }
    .opciones-canchas h2 {
        font-size: 2.5rem;
        margin-top: 6rem;
    }
    .grid {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .card img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    .card p{
        font-size: 1.6rem;
        margin-bottom: 2.4rem;
    }
    .card.space{
        margin-bottom: 10rem;
    }

    
    .descarga-app {
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        align-items: center;
        min-height: 540px;
    }

    .celular-izquierdo {
        width: 100%;
        max-width: 370px;
        transform: rotate(20deg) translateX(-37px) translateY(-155px);
    }

    .celular-derecho {
        display: none;
    }
    .contenido-centro {
        margin-top: -75rem;
        text-align: center;
    }
    
    .contenido-centro h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .boton-descarga {
        font-size: 2rem;
        padding: 1.8rem 6.8rem;
        width: 100%;
        max-width: 349px;
        margin: 0 auto;
    }
    /* Footer */
    .footer .barra {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .logo img {
        width: 120px;
    }
    .logo{
        margin-bottom: 1rem;
    }
    .navegacion {
        flex-direction: column;
        gap: 1rem;
    }

    .navegacion__enlace{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}
